*{
    margin: 0;
    padding: 0;

}
body{
    background-color:cadetblue;
    text-align:center;   
}
.container{
    height: 70%; 
     display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    gap:1.5vmin;  
}
.game{
    height: 60vmin;
    width: 60vmin;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    gap:1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1vmin rgba(0,0,0,0.4);
    font-size: 9vmin;
    color:brown;
}
#reset-btn{
    padding: 1rem;
    font-size: 1.15rem;
    background-color:rgba(0,0,0,0.4);
    color: aliceblue;
    border:none;
    border-radius: 1rem;
}
